<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/admin-header :: head"></head>
<body>
<header th:replace="fragments/admin-header :: main-header" ></header>




<script th:inline="javascript">
    var config = {};
    /*<![CDATA[*/
    var vendors = [[${vendors}]];
    /*]]>*/
    config.vendors = vendors;

    window.config= config;
</script>

<section>
    <div class="mainwrapper">
        <div th:replace="fragments/consultant-leftpanel :: leftpanel-admin">
        <div class="media profile-left">

                <div class="media-body" sec:authorize="isAuthenticated()">
                    <h4 class="media-heading" th:text="${#authentication.principal.User.firstname + ' ' + #authentication.principal.User.lastname}"></h4>


                    <small sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</small>

                </div>
            </div><!-- media -->

            <h5 class="leftpanel-title">Navigation</h5>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="/accounts"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>





            </ul>

        </div><!-- leftpanel -->

        <div class="mainpanel">
            <div class="pageheader">
                <div class="media">
                    <div class="pageicon pull-left">
                        <i class="fa fa-home"></i>
                    </div>
                    <div class="media-body">
                        <ul class="breadcrumb">
                            <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                            <li>Consultant Signup</li>
                        </ul>
                        <h4>   Edit Employment Record</h4>
                    </div>
                </div><!-- media -->
            </div><!-- pageheader -->

            <div class="contentpanel">


                <div class="row">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-btns" style="display: none;">
                                <a href="" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
                                <a href="" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
                            </div><!-- panel-btns -->


                            <h4 class="panel-title">Edit Employment Record</h4>

                        </div><!-- panel-heading -->

                        <div >
                            <form class="m-t" role="form" action="/consultants/emp/addEmpRecord" method="POST" th:object="${empRecord}">

                                <div class="row">

                                    <table class="table table-stripped">
                                        <tr id="inst_attended">
                                            <td>Employment Record  (Optional)</td>
                                            <td>

                                                <input type="hidden" th:field="*{id}" />
                                                <div class="form-group col-sm-12">
                                                    <label>Is this your current job?</label>
                                                    <label>YES <input type="radio" id="currentJob0" th:field="*{present}" value="true"  /> </label>
                                                    <label>NO <input type="radio" th:field="*{present}" value="false"  /> </label><br />

                                                </div>

                                                <div class="form-group col-sm-6">
                                                    <label>Job Title</label>
                                                    <input type="text" th:field="*{jobTitle}" class="form-control" /><br />
                                                </div>


                                                <div >
                                                    <div class="form-group col-sm-3">
                                                        <label class=" ">Start Date:</label>
                                                        <div class="input-group">
                                                            <input class="datepicker" type="text"  name="startDate" class="form-control" placeholder="mm/dd/yyyy" id="datepicker5"
                                                                   th:value="${#strings.isEmpty(empRecord.startDate) ? '' : #dates.format(empRecord.startDate, 'MM/dd/yyyy')}">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                        </div>
                                                    </div>

                                                    <div id="endDateDiv2" class="form-group col-sm-3">
                                                        <label class=" ">End Date:</label>
                                                        <div class="input-group">
                                                            <input class="datepicker" type="text"  name="endDate" class="form-control" placeholder="mm/dd/yyyy" id="datepicker6"
                                                                   th:value="${#strings.isEmpty(empRecord.endDate) ? '' : #dates.format(empRecord.endDate, 'MM/dd/yyyy')}">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-sm-12">
                                                    <label>Job Description</label>
                                                    <textarea  th:field="*{jobDescription}" class="form-control" ></textarea><br />
                                                </div>

                                                <div class="form-group col-sm-6">
                                                    <label>Type of Business</label>
                                                    <select required='required'  th:field="*{typeOfBusiness}" id="biz_type" class="form-control">
                                                        <option value="">--Select Type of Business--</option>
                                                        <option value="Trading">Trading</option>
                                                        <!--<option th:each="instType : ${institutionTypes}" th:value="${instType}"  th:text="${instType}" ></option>-->
                                                    </select>
                                                </div>

                                                <div class="form-group col-sm-3">
                                                    <label>Starting Salary</label>
                                                    <input type="number" th:field="*{startingSalary}" class="form-control" /><br />
                                                </div>

                                                <div class="form-group col-sm-3">
                                                    <label>Final Salary</label>
                                                    <input type="number" th:field="*{finalSalary}" class="form-control" /><br />
                                                </div>

                                                <div class="form-group col-sm-6">
                                                    <label>Name of Employer</label>
                                                    <input type="text" th:field="*{nameOfEmployer}" class="form-control" /><br />
                                                </div>

                                                <div class="form-group col-sm-6">
                                                    <label>Address of Employer</label>
                                                    <textarea  th:field="*{addressOfEmployer}" class="form-control" ></textarea><br />
                                                </div>




                                                <div class="form-group col-sm-6">
                                                    <label>Supervisor's Name</label>
                                                    <input type="text" th:field="*{supervisorsName}" class="form-control" /><br />
                                                </div>

                                                <div class="form-group col-sm-6">
                                                    <label>No. of Employees supervised</label>
                                                    <input type="number" th:field="*{noOfEmployeesSupervised}" class="form-control" /><br />
                                                </div>

                                                <div class="form-group col-sm-12">
                                                    <label>Reason for leaving</label>
                                                    <textarea th:field="*{reasonForLeaving}" class="form-control" ></textarea><br />
                                                </div>

                                                <!--<button type='button' class="btn btn-sm btn-danger removeLanguage pull-right" data-remove="#language0"  >Remove Skill</button>-->
                                            </td>
                                        </tr>
                                    </table>



                                    <div class="col-sm-12">

                                        <input type="hidden" name="id" th:value="${id}"><br/>
                                        <input type="hidden" th:field="*{employmentData}"><br/>

                                        <div class="form-group">
                                            <button class="btn btn-primary " type="submit"><i class="fa fa-paste"></i> Submit</button>
                                        </div>
                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>


                    <script>
                        jQuery('body').on('click', '.removeLanguage', function() {

                            var answer = confirm("Are you sure you want to Language Skill node?");
                            if(answer === true){
                                var removeControl = jQuery(this).attr("data-remove");
                                jQuery(removeControl).remove();
                            }

                        });
                    </script>




                </div>
            </div><!-- contentpanel -->

        </div><!-- mainpanel -->
    </div><!-- mainwrapper -->
</section>
<div th:replace="fragments/admin-footer::footer"></div>

<script>

    jQuery(document).ready(function(jQuery) {
        jQuery('#addLanguageSkill').click(function () {
            var answers = "";


            answers += "<option value=''>--Select Answer--</option>";
            answers += "<option value='true'>YES</option>";
            answers += "<option value='false'>NO</option>";



            var languageIndex = jQuery('table#languageSkillsTable tr').length - 1;
            var text = "";
            text += "<tr id='language" + languageIndex + "'><td> <label>Language " + (languageIndex + 1) + "</label> </td>";
            //Enter new State Field
                text += "<td>";
                    text+= "<input type='text' name='languageSkills[" + languageIndex + "].language' class='form-control' /><br />";
                    text+= "<label> YES <input type='radio' name='languageSkills[" + languageIndex + "].readEasily' value='true' /></label>" +
                            "<label> NO <input type='radio' name='languageSkills[" + languageIndex + "].readEasily' value='false' /></label> Read Easily?<br />";

                    text+= "<label> YES <input type='radio' name='languageSkills[" + languageIndex + "].writeEasily' value='true' /></label>" +
                            "<label> NO <input type='radio' name='languageSkills[" + languageIndex + "].writeEasily' value='false' /></label> Write Easily?<br />";

                    text+= "<label> YES <input type='radio' name='languageSkills[" + languageIndex + "].speakFluently' value='true' /></label>" +
                            "<label> NO <input type='radio' name='languageSkills[" + languageIndex + "].speakFluently' value='false' /></label> Speak Fluently?<br />";

                    text+= "<label> YES <input type='radio' name='languageSkills[" + languageIndex + "].understandEasily' value='true' /></label>" +
                            "<label>NO <input type='radio' name='languageSkills[" + languageIndex + "].understandEasily' value='false' /></label> Understand Easily?";

                    text += "<button type='button' class='btn btn-sm btn-danger removeLanguage pull-right' data-remove='#language" + languageIndex + "' >Remove Doc</button>";
                text += "</td>";
            text += "</tr>";

            jQuery('#languageSkillsTable').append(text);

        });


        $('#currentJob0').click(function() {
            if($('#currentJob0').is(':checked')) {
                $("#endDateDiv2").hide();
                $("#datepicker6").val(new Date());
            }
        });


    });
</script>


</body>
</html>
