
<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/pubheader :: header">
</header>
<body class="signin">


<section>

    <div class="panel panel-signin">
        <div class="panel-body">

            <div class="alert alert-danger" th:if="${responseMessage}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

                   <p th:text="${responseMessage}" class="message center" style="color:red; font-weight:bold;"/>


            </div>
            <div class="logo text-center">
                <a th:href="@{/}" >
                    <a th:href="@{/}" > <img th:src="@{/public/img/b2.png}"  style="width:90px; height: 60px;" alt="UNDP  Logo" /></a>
                    <!--<a th:href="@{/}" > <img th:src="@{/images/vdmslogo.png}"  style="width:120px; height: 65px;" alt="VDMS  Logo" /></a>-->

            </div>
            <br />
            <h4 class="text-center mb5">Enter your email </h4>
            <p class="text-center">We will send your password reset link</p>

            <div class="mb30"></div>









            <form id="check_email_form" th:action="@{/accounts/forgotpassword}" th:object="${user}" method="post">
                <div class="input-group mb15">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input id="email" type="email" th:field="*{email}" class="form-control" placeholder="Email"/>


                </div>



                <div class="clearfix">

                    <div class="pull-right">
                        <button type="submit" class="btn btn-success">Send Reset Link <i class="fa fa-angle-right ml5"></i></button>
                    </div>
                </div>
            </form>



        </div><!-- panel-body -->

    </div><!-- panel -->

</section>




</body>

<script th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/modernizr.min.js}"></script>
<script th:src="@{/js/pace.min.js}"></script>
<script th:src="@{/js/retina.min.js}"></script>
<script th:src="@{/js/jquery.cookies.js}"></script>

<script th:src="@{/js/custom.js}"></script>
</html>
