
<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/pubheader :: header">
</header>
<body class="signin">

<section>
    <div class="panel panel-signin">
        <div class="panel-body">

            <div class="alert alert-danger" th:if="${errors != null }">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

                  <table class="table table-bordered message center">
                    <tr th:each="instance : ${errors}">
                        <td th:text="${instance.key}">keyvalue</td>
                        <td th:text="${instance.value}">value</td>
                    </tr>
                </table>


            </div>
            <div class="logo text-center">
                <a th:href="@{/}" > <img th:src="@{/public/img/b2.png}"  style="width:90px; height: 60px;" alt="UNDP  Logo" /></a>
                <!--<a th:href="@{/}" > <img th:src="@{/images/vdmslogo.png}"  style="width:120px; height: 65px;" alt="VDMS  Logo" /></a>-->
            </div>
            <br />
            <h4 class="text-center mb5">Password Reset Form </h4>

            <p class="text-center alert-success" th:if="${loggedIn  == true}">

              Authenticated User:   <a class="alert-link" th:href="@{/accounts}" th:text="${#authentication.principal.User.firstname} + ' ' + ${#authentication.principal.User.lastname} "> Loggedin user</a>

            </p>
            <p class="text-center" th:if="${loggedIn != true}"> Reset your password</p>

            <div class="mb30"></div>









                                   <form class="form-pad" th:action="@{/accounts/changeMyPassword(_key= ${resetPasswordToken})}" method="post">



                                                    <div class="input-group mb15">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>


                                                    <input type="password" id="password" th:value="${passwordDto.password}" class="form-control" name="password" required="required" placeholder="New Password" />
                                                </div>

                                       <div class="input-group mb15">
                                           <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                           <input type="password" id="confirmPassword" th:value="${passwordDto.confirmPassword}" class="form-control" name="confirmPassword" required="required" placeholder="Confirm Password" />


                                                <input th:if="${resetPasswordToken != null}" type="hidden" th:value="${resetPasswordToken}" name="resetPasswordToken" />

                                            </div><br /><br />

                                       <div class="clearfix">

                                           <div class="pull-right">
                                               <button type="submit" class="btn btn-success">Reset Password <i class="fa fa-angle-right ml5"></i></button>
                                           </div>
                                       </div>
                                   </form>
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>


                                </form>

    </div><!-- panel-body -->

    </div><!-- panel -->

</section>




</body>

<script th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/modernizr.min.js}"></script>
<script th:src="@{/js/pace.min.js}"></script>
<script th:src="@{/js/retina.min.js}"></script>
<script th:src="@{/js/jquery.cookies.js}"></script>

<script th:src="@{/js/custom.js}"></script>
</html>
