<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/admin-header :: head"></head>

<body>

<header th:replace="fragments/admin-header :: main-header" ></header>

<section>
    <div class="mainwrapper">
        <div
                th:replace="fragments/admin-leftpanel :: leftpanel-admin" ></div>
        <!-- leftpanel -->

        <div class="mainpanel">
            <div class="pageheader">
                <div class="row">
                    <div class="col-md-9">
                <div class="media">
                    <div class="pageicon pull-left">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div class="media-body">
                        <ul class="breadcrumb">
                            <li><a th:href="@{/contracts}">List Contracts</a></li>
                            <li><a href="">Contract Document </a></li>
                            <li>Add</li>
                        </ul>
                        <h4>Add Contracts</h4>
                    </div>
                </div><!-- media -->

                        </div>

                    <div class="col-md-3">
                        <a th:if="${edit != null}" th:href="@{/contracts/} + ${contract.id}" class="btn btn-sm btn-primary btn-rounded pull-right">View</a>
                    </div>

                    </div>
            </div><!-- pageheader -->

            <div class="contentpanel">



                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal" th:action="@{/contracts/add}" th:action="${ edit == null  } ? @{/contracts/add} : @{/contracts/edit} " method="post"  th:object="${contract}">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-btns">
                                        <a href="" class="panel-minimize tooltips" data-toggle="tooltip" title="Minimize Panel"><i class="fa fa-minus"></i></a>
                                        <a href="" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
                                    </div><!-- panel-btns -->
                                    <label th:text="${edit == null ? 'Enter new Contract details' : 'Edit Contract details'}"></label>

                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 ">Name:</label>
                                        <div class="col-sm-10">
                                            <input type="text" th:field="*{name}"  class="form-control" />
                                        </div>
                                    </div><!-- form-group -->


                                    <div class="form-group">
                                        <label class="col-sm-2 ">Details:</label>
                                        <div class="col-sm-10">
                                            <textarea type="text" th:field="*{details}" class="form-control" ></textarea>
                                        </div>
                                    </div><!-- form-group -->

                                    <div class="form-group">
                                        <label class="col-sm-2 ">Contract amount:</label>
                                        <div class="col-sm-10">
                                            <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  th:field="*{amount}" title="Enter numbers only" class="form-control" />
                                        </div>
                                    </div><!-- form-group -->

                                    <div class="form-group">
                                        <label class="col-sm-2 ">Vendor  :</label>
                                        <div class="col-sm-10">
                                            <select  name="vendorId" data-placeholder="Choose One" class="width100p select-single-hide">
                                                <option value="">---</option>
                                                <option th:each="vendor: ${vendors}" th:selected="${vendor.id == selectedVendor} ? selected: false "  th:value="${vendor.id}" th:text="${vendor.vendorName}"></option>
                                            </select>
                                        </div>
                                    </div><!-- form-group -->

                                    <div class="form-group">
                                        <label class="col-sm-2 ">Tags</label>
                                        <div class="col-sm-10">
                                            <input th:field="*{tags}" id="tags" class="form-control"  value="Sample" />
                                        </div>
                                    </div><!-- form-group -->

                                    <div class="form-group">
                                        <label class="col-sm-2 ">Assign To  :</label>
                                        <div class="col-sm-10">
                                            <select   th:field="*{assignedTo}" data-placeholder="Choose One" class="width100p select-single-hide">
                                                <option value="">---</option>
                                                <option th:each="staff: ${staffs}" th:selected="${contract.assignedTo == null } ? false : ${contract.assignedTo.id == staff.id }"  th:value="${staff.id}" th:text="${staff.username}"></option>
                                            </select>
                                        </div>
                                    </div><!-- form-group -->

                                    <div class="form-group">
                                        <label class="col-sm-2 ">Contract Date:</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <input required type="text" th:value="${#strings.isEmpty(contract.contractDate) ? '' : #dates.format(contract.contractDate, 'dd/MM/yyyy') }" name="contractDate" class="form-control" placeholder="mm/dd/yyyy" id="datepicker">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </div>

                                    </div><!-- form-group -->


                                    <div class="form-group">
                                        <label class="col-sm-2 ">Contract Expiry Date:</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <input required type="text" th:value="${#strings.isEmpty(contract.contractExpiryDate) ? '' : #dates.format(contract.contractExpiryDate, 'dd/MM/yyyy') }" name="contractExpiryDate" class="form-control datepicker" placeholder="dd/mm/yyyy" id="datepicker1">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </div>

                                    </div><!-- form-group -->


                                    <!--
                                     private String status;
                                     private List<String> tags;-->

                                </div><!-- panel-body -->

                            </div><!-- panel -->


                            <div class="panel-footer">
                                <input type="hidden" name="id" th:value="${contract.id}" />

                                <button class="btn btn-primary mr5" type="submit">Create</button>

                            </div><!-- panel-footer -->

                        </form>
                    </div><!-- panel-default -->
                </div><!-- col-md-6 -->


            </div><!-- row -->





        </div><!-- contentpanel -->
    </div>
    </div><!-- mainwrapper -->
</section>

<div th:replace="fragments/admin-footer::footer"></div>

<script>
    jQuery(document).ready(function(){

        jQuery('#basicTable').DataTable({
            responsive: true
        });



        var shTable = jQuery('#shTable').DataTable({
            "fnDrawCallback": function(oSettings) {
                jQuery('#shTable_paginate ul').addClass('pagination-active-dark');
            },
            responsive: true
        });

        // Show/Hide Columns Dropdown
        jQuery('#shCol').click(function(event){
            event.stopPropagation();
        });

        jQuery('#shCol input').on('click', function() {

            // Get the column API object
            var column = shTable.column($(this).val());

            // Toggle the visibility
            if ($(this).is(':checked'))
                column.visible(true);
            else
                column.visible(false);
        });

        var exRowTable = jQuery('#exRowTable').DataTable({
            responsive: true,
            "fnDrawCallback": function(oSettings) {
                jQuery('#exRowTable_paginate ul').addClass('pagination-active-success');
            },
            "ajax": "ajax/objects.txt",
            "columns": [
                {
                    "class":          'details-control',
                    "orderable":      false,
                    "data":           null,
                    "defaultContent": ''
                },
                { "data": "name" },
                { "data": "position" },
                { "data": "office" },
                { "data": "salary" }
            ],
            "order": [[1, 'asc']]
        });

        // Add event listener for opening and closing details
        jQuery('#exRowTable tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = exRowTable.row( tr );

            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child( format(row.data()) ).show();
                tr.addClass('shown');
            }
        });

        // DataTables Length to Select2
        jQuery('div.dataTables_length select').removeClass('form-control input-sm');
        jQuery('div.dataTables_length select').css({width: '60px'});
        jQuery('div.dataTables_length select').select2({
            minimumResultsForSearch: -1
        });

    });

    function format (d) {
        // `d` is the original data object for the row
        return '<table class="table table-bordered nomargin">'+
                '<tr>'+
                '<td>Full name:</td>'+
                '<td>'+d.name+'</td>'+
                '</tr>'+
                '<tr>'+
                '<td>Extension number:</td>'+
                '<td>'+d.extn+'</td>'+
                '</tr>'+
                '<tr>'+
                '<td>Extra info:</td>'+
                '<td>And any further details here (images etc)...</td>'+
                '</tr>'+
                '</table>';
    }
</script>

</body>
</html>
