<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/admin-header :: head"></head>

<body>

<header th:replace="fragments/admin-header :: main-header" ></header>

<section>
    <div class="mainwrapper">
        <div th:replace="fragments/admin-leftpanel :: leftpanel-admin" ></div>
        <!-- leftpanel -->

        <div class="mainpanel">
            <div class="pageheader">
                <div class="row">
                    <div class="col-md-9">
                    <div class="media">
                    <div class="pageicon pull-left">
                        <i class="fa fa-th-list"></i>
                    </div>
                    <div class="media-body">
                        <ul class="breadcrumb">
                            <li><a th:href="@{/accounts}"><i class="glyphicon glyphicon-home"></i></a></li>
                            <li><a th:href="@{/contracts}">List Contracts</a></li>
                            <li>Contracts</li>
                        </ul>
                        <h4>Contracts</h4>
                    </div>
                </div><!-- media -->
                    </div>
                    <div class="col-md-3">
                        <a th:href="@{/contracts/add}" class="btn btn-sm btn-primary btn-rounded pull-right">Add New</a>
                    </div>
                </div>
            </div><!-- pageheader -->

            <div class="contentpanel">


                <div class="panel panel-primary-head">


                    <table id="basicTable" class="table table-striped table-bordered responsive">
                        <thead class="">
                        <tr>
                            <th>Name</th>
                            <th>Amount </th>
                            <th>Created </th>
                            <th>Award Date</th>
                            <th> Expiry Date</th>
                            <th>Assigned To</th>
                            <th>Status</th>

                            <th>Vendor </th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="c : ${contracts}">
                            <td ><a th:href="@{/contracts/} + ${c.id}" th:text="${c.name}"></a></td>

                            <td   th:text="${c.amount != null} ? ${#numbers.formatDecimal(c.amount,2,'DEFAULT',2,'DEFAULT')}: 'N/A'"  ></td>
                            <td  th:text="${#strings.isEmpty(c.created_at) ? 'Empty' : #dates.format(c.updated_at, 'dd/MM/yyyy hh:mm') }"></td>
                            <td  th:text="${#strings.isEmpty(c.contractDate) ? 'Empty' : #dates.format(c.contractDate, 'dd/MM/yyyy') }"></td>
                            <td  th:text="${#strings.isEmpty(c.contractExpiryDate) ? 'Empty' : #dates.format(c.contractExpiryDate, 'dd/MM/yyyy') }"></td>
                            <td ><p  th:text="${c.assignedTo != null ? c.assignedTo.username : 'Null'}"></p></td>
                            <td th:inline="text" > [[${c.status == null }? '---': ${c.status}]]
                                <button   type="button" class="btn btn-white btn-sm rvvModal " data-toggle="modal"
                                          th:attr="data-target='#reviewModal'+${c.id}">
                                    <i class="fa fa-pencil"></i> Quick Update</button>

                                <div class="modal fade" th:id="'reviewModal' + ${c.id}" tabindex="-1" role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content animated bounceInRight">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                        aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                                </button>
                                                <i class="fa fa-pencil-square modal-icon"></i>
                                                <h4 class="modal-title">Contract Status  Update <span></span></h4>

                                            </div>
                                            <div class="modal-body">
                                                <form class="m-t" role="form" action="/contracts/status" method="POST" th:object="${c}">

                                                    <div class="row">

                                                        <table class="table table-stripped">

                                                            <tr>
                                                                <td>
                                                                    <label class="control-label" for="review_status">Change Status</label>
                                                                </td>
                                                                <td>
                                                                    <select name="status" id="review_status" class="form-control">
                                                                        <option value="">---</option>
                                                                        <option th:each="status: ${statuses}" th:value="${status}" th:text="${status}" />
                                                                    </select>
                                                                </td>
                                                            </tr>


                                                        </table>



                                                        <div class="col-sm-12">
                                                            <input type="hidden" name="id" th:value="${c.id}">


                                                            <div class="form-group">
                                                                <button class="btn btn-primary " type="submit"><i class="fa fa-paste"></i> Change Status</button>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white" data-dismiss="modal">
                                                    Close
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td><p th:if="${c.vendor != null}" th:text="${c.vendor.vendorName}">Nil</p>

                            </td>

                            <td >
                                <a th:href="@{/contracts/edit/} + ${c.id}" class="btn btn-default ">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a th:href="@{/contracts/delete/} + ${c.id}" class="btn btn-default" >
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>

                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div><!-- panel -->

                <br />



            </div><!-- contentpanel -->
        </div><!-- mainpanel -->
    </div><!-- mainwrapper -->
</section>

<div th:replace="fragments/admin-footer::footer"></div>

<script>
    jQuery(document).ready(function(){

        jQuery('#basicTable').DataTable({
            responsive: true
        });

        var shTable = jQuery('#shTable').DataTable({
            "fnDrawCallback": function(oSettings) {
                jQuery('#shTable_paginate ul').addClass('pagination-active-dark');
            },
            responsive: true
        });

        // Show/Hide Columns Dropdown
        jQuery('#shCol').click(function(event){
            event.stopPropagation();
        });

        jQuery('#shCol input').on('click', function() {

            // Get the column API object
            var column = shTable.column($(this).val());

            // Toggle the visibility
            if ($(this).is(':checked'))
                column.visible(true);
            else
                column.visible(false);
        });

        var exRowTable = jQuery('#exRowTable').DataTable({
            responsive: true,
            "fnDrawCallback": function(oSettings) {
                jQuery('#exRowTable_paginate ul').addClass('pagination-active-success');
            },
            "ajax": "ajax/objects.txt",
            "columns": [
                {
                    "class":          'details-control',
                    "orderable":      false,
                    "data":           null,
                    "defaultContent": ''
                },
                { "data": "name" },
                { "data": "position" },
                { "data": "office" },
                { "data": "salary" }
            ],
            "order": [[1, 'asc']]
        });

        // Add event listener for opening and closing details
        jQuery('#exRowTable tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = exRowTable.row( tr );

            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child( format(row.data()) ).show();
                tr.addClass('shown');
            }
        });


        // DataTables Length to Select2
        jQuery('div.dataTables_length select').removeClass('form-control input-sm');
        jQuery('div.dataTables_length select').css({width: '60px'});
        jQuery('div.dataTables_length select').select2({
            minimumResultsForSearch: -1
        });

    });

    function format (d) {
        // `d` is the original data object for the row
        return '<table class="table table-bordered nomargin">'+
                '<tr>'+
                '<td>Full name:</td>'+
                '<td>'+d.name+'</td>'+
                '</tr>'+
                '<tr>'+
                '<td>Extension number:</td>'+
                '<td>'+d.extn+'</td>'+
                '</tr>'+
                '<tr>'+
                '<td>Extra info:</td>'+
                '<td>And any further details here (images etc)...</td>'+
                '</tr>'+
                '</table>';
    }
</script>

</body>
</html>
