<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/admin-header :: head"></head>

<body>

<header th:replace="fragments/admin-header :: main-header" ></header>

<section>
    <div class="mainwrapper">
        <div
                th:replace="fragments/admin-leftpanel :: leftpanel-admin" ></div>
        <!-- leftpanel -->

        <div class="mainpanel">
            <div class="pageheader">
                <div class="row">
                    <div class="col-md-9">
                    <div class="media">
                    <div class="pageicon pull-left">
                        <i class="fa fa-info"></i>
                    </div>
                    <div class="media-body">
                        <ul class="breadcrumb">
                            <li><a th:href="@{/accounts}"><i class="glyphicon glyphicon-home"></i></a></li>
                            <li><a th:href="@{/notices}">List Notices</a></li>
                            <li>Notices</li>
                        </ul>
                        <h4>Notices</h4>
                    </div>
                </div><!-- media -->
                    </div>
                    <div class="col-md-3">
                        <a th:href="@{/notices/create}" class="btn btn-sm btn-primary btn-rounded pull-left">Add New</a>
                        &nbsp;
                        <a th:href="@{/notices/broadcast}" class="btn btn-sm btn-danger btn-rounded pull-right">Broadcast Notices</a>
                    </div>
                </div>
            </div><!-- pageheader -->

            <div class="contentpanel">


                <div class="panel panel-primary-head">


                    <table id="basicTable" class="table table-striped table-bordered responsive">
                        <thead class="">
                        <tr>
                            <th>Description</th>
                            <th>Created</th>
                            <th>Opening </th>
                            <th>Closing</th>
                            <th>Target Group</th>
                            <th>Status</th>
                            <th>Published</th>
                            <th>Tenders </th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="c : ${notices}">
                            <td ><a  target="_blank" th:href="@{/notices/} + ${c.uuid}" th:text="${c.position}"></a></td>

                            <td   th:text="${#strings.isEmpty(c.created_at) ? 'Empty' : #dates.format(c.created_at, 'dd/MM/yyyy hh:mm') }"  ></td>
                            <td  th:text="${#strings.isEmpty(c.openingDate) ? 'Empty' : #dates.format(c.openingDate, 'dd/MM/yyyy') }"></td>
                            <td  th:text="${#strings.isEmpty(c.closingDate) ? 'Empty' : #dates.format(c.closingDate, 'dd/MM/yyyy') }"></td>
                            <td ><p  th:text="${c.roles != null ? c.getRoleNames() : 'Null'}"></p></td>
                            <td th:text="${c.active} ? 'Active': 'Inactive' "></td>
                            <td th:text="${c.publish} ? 'Published' : 'Unpublished'"></td>

                            <td ><a th:href="${'/tenders/?noticeUUID='} + ${c.uuid }" th:text="${c.tenders.size()}"></a></td>

                            <td >
                                <a th:href="@{/notices/edit/} + ${c.id}" class="btn btn-default ">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a th:href="@{/notices/delete/} + ${c.id}" class="btn btn-default" >
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>

                                <a th:href="@{/notices/broadcast/} + ${c.id}" class="btn btn-default" >
                                    <i class="glyphicon glyphicon-envelope"></i>
                                </a>
                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div><!-- panel -->

                <br />



            </div><!-- contentpanel -->
        </div><!-- mainpanel -->
    </div><!-- mainwrapper -->
</section>

<div th:replace="fragments/admin-footer::footer"></div>

<script>
    jQuery(document).ready(function(){
        //jQuery("#datepicker2").datepicker();

        jQuery('#basicTable').DataTable({
            responsive: true
        });

        var shTable = jQuery('#shTable').DataTable({
            "fnDrawCallback": function(oSettings) {
                jQuery('#shTable_paginate ul').addClass('pagination-active-dark');
            },
            responsive: true
        });

        // Show/Hide Columns Dropdown
        jQuery('#shCol').click(function(event){
            event.stopPropagation();
        });

        jQuery('#shCol input').on('click', function() {

            // Get the column API object
            var column = shTable.column($(this).val());

            // Toggle the visibility
            if ($(this).is(':checked'))
                column.visible(true);
            else
                column.visible(false);
        });

        var exRowTable = jQuery('#exRowTable').DataTable({
            responsive: true,
            "fnDrawCallback": function(oSettings) {
                jQuery('#exRowTable_paginate ul').addClass('pagination-active-success');
            },
            "ajax": "ajax/objects.txt",
            "columns": [
                {
                    "class":          'details-control',
                    "orderable":      false,
                    "data":           null,
                    "defaultContent": ''
                },
                { "data": "name" },
                { "data": "position" },
                { "data": "office" },
                { "data": "salary" }
            ],
            "order": [[1, 'asc']]
        });

        // Add event listener for opening and closing details
        jQuery('#exRowTable tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = exRowTable.row( tr );

            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child( format(row.data()) ).show();
                tr.addClass('shown');
            }
        });


        // DataTables Length to Select2
        jQuery('div.dataTables_length select').removeClass('form-control input-sm');
        jQuery('div.dataTables_length select').css({width: '60px'});
        jQuery('div.dataTables_length select').select2({
            minimumResultsForSearch: -1
        });

    });

    function format (d) {
        // `d` is the original data object for the row
        return '<table class="table table-bordered nomargin">'+
                '<tr>'+
                '<td>Full name:</td>'+
                '<td>'+d.name+'</td>'+
                '</tr>'+
                '<tr>'+
                '<td>Extension number:</td>'+
                '<td>'+d.extn+'</td>'+
                '</tr>'+
                '<tr>'+
                '<td>Extra info:</td>'+
                '<td>And any further details here (images etc)...</td>'+
                '</tr>'+
                '</table>';
    }
</script>

</body>
</html>
