<html>
<head th:replace="fragments/header :: pubheader">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vendor Dtatabase Management System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Google fonts - Open Sans-->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,400italic">
    <!-- Stroke 7 font by Pixeden (http://www.pixeden.com/icon-fonts/stroke-7-icon-font-set)-->
    <link rel="stylesheet" href="css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="css/helper.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
    <!-- owl carousel-->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <!-- plugins-->
    <link rel="stylesheet" href="css/simpletextrotator">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/public/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="favicon.png">


    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body data-spy="scroll" data-target="#navigation" data-offset="120">
<div id="all">
    <!-- navbar-->
    <div class="header"> <header th:replace="fragments/header :: pubnav" class="header">

    <div role="navigation" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header"><a href="#all" class="navbar-brand scroll-to"><img src="img/b2.png" width="118" height="100"alt="logo" class="hidden-xs hidden-sm"><img src="img/b2.png" alt="logo" class="visible-xs visible-sm" width="118" height="100"><span class="sr-only">Go to homepage</span></a>
                    <div class="navbar-buttons">
                        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="pe-7s-menu"></i></button>
                    </div>
                </div>
                <div id="navigation" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html" class="scroll-to">Home</a></li>
                        <li><a href="about.html" class="scroll-to">About Us </a></li>


                        <li><a href="faq.html" class="scroll-to">FAQs</a></li>
                        <li><a href="contact.html" class="scroll-to">Contact</a></li>
                        <li class="active"><a href="notices.html" class="scroll-to">Notices</a></li>

                    </ul><a href="#" data-toggle="modal" data-target="#get-started" class="btn navbar-btn btn-ghost">Login</a>
                    <a href="#" data-toggle="modal" data-target="#get-started" class="btn navbar-btn btn-ghost">Register</a>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">

            <section class="content">
                <h1>Procurement Notices </h1>
                <hr>
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <div class="col-md-12" style="font-size:14px;">
                            <p><b>Notice Description :</b></p>
                            <p><b>Job Code :</b></p>
                            <p><b>Department/Office :</b></p>
                            <p><b>Duty Station :</b></p>
                           <p><b>Agency :</b></p>
                            <p><b>Posting Period :</b></p>

                            <p><b>External URL :</b></p>



                        </div>

                    </div>
                    <div class="col-md-5" style="font-size:14px;">
                        <div class="col-md-12">
                            <p th:text="${notice.position}"> CHIEF, ARABIC TRANSLATION SECTION, P5</p>
                            <p th:text="${#strings.toUpperCase(notice.uuid)}"> CHIEF OF SECTION, ARABIC TRANSLATION</p>
                            <p th:text="${notice.department != null}? ${notice.department.name}: 'N/A' "> N/A</p>
                            <p th:text="${notice.station != null}? ${notice.station.name}: 'N/A'"> ABUJA</p>
                            <p th:text="${notice.agency != null}? ${notice.agency.acronym}: 'N/A'"> 17-Language-UNOG DCM-80976-R-Geneva (L)</p>
                            <p th:inline="text"> [[${#dates.format(notice.openingDate,'dd MMM YYYY')}]] - [[${#dates.format(notice.closingDate,'dd MMM YYYY')}]]</p>

                            <a target="_blank" th:href="${notice.linkedUrl}" th:text="${notice.linkedUrl}"> N/A</a>

                        </div>

                    </div>

                 <!--   <div class="col-md-1" style="float:right;">
                        <div class="col-md-12 social-icon" style="border-style: solid; border-color:grey; border-width:0.5px;">
                            <img src="/public/img/fb.png" width="25px" height="auto">
                            </br>
                            <img src="/public/img/tweet.png"  width="25px" height="auto">
                            </br>
                            <img src="/public/img/goole.png"  width="25px" height="auto">
                            </br>
                            <img src="/public/img/in.png"  width="25px" height="auto">
                            </br>
                            <img src="/public/img/mail.png"  width="25px" height="auto">
                        </div>
                    </div>-->

                </div>
                <div class="col-md-12">
                    <div class="col-10 col-md-offset-1">
                        <hr>
                    </div>
                    <p style="color:red; text-align:center; font-size:19px;">United Nations Core Values: Integrity, Professionalism, Respect for Diversity</p>
                    <div class="col-10 col-md-offset-1">
                        <hr>
                    </div>
                </div>
                <div class="col-md-12" style="text-align:center;">
                    <a  th:if="${principal == null || (principal != null && principal.authorities.contains('VENDOR')) ? '' : ''}" th:href="@{'/tenders/apply/' + ${notice.uuid}}" class="btn btn-primary">Apply Now</a>
                    <div class="col-10 col-md-offset-1">
                        <hr>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <p style="color:blue; text-align:left;" >Notice Details</p>
                    <p style="text-align:justify;" th:text="${notice.details}">Staff members are subject to the authority of the Secretary-General and to assignment by him or her. In this context, all staff are expected to move periodically to new functions in their careers in accordance with established rules and procedures.</p>
                    </br>
                         <br>
                          </br>

    </div>
                <div class="col-md-12" style="text-align:center;">
                    <div class="col-10 col-md-offset-1">
                        <hr>
                    </div>
                    <a th:if="${principal == null || (principal != null && principal.authorities.contains('VENDOR')) ? '' : ''}"  th:href="@{'/tenders/apply/' + ${notice.uuid}}" class="btn btn-primary">Apply Now</a>
                    <div class="col-10 col-md-offset-1">
                        <hr>
                    </div>
                </div>


            </section>



        </div>
    </div>

    <!-- end of code -->


        <footer class="footer">
            <div class="footer__copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">

                            <p th:inline="text">United Nations System in Nigeria &copy; [[${#dates.year(#dates.createNow())}]]
                        </div>

                    </div>
                </div>
            </div>
        </footer>
    </div>

        <div th:replace="fragments/footer :: public-footer"></div>






</body>
</html>