<head th:fragment="head">

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Vendor Database Management Software:: United Nations System in Nigeria &nbsp; Administration </title>
    <link href="/css/jquery.gritter.css" rel="stylesheet">


    <link th:href="@{/css/style.default.css}" rel="stylesheet"/>
    <link th:href="@{/css/morris.css}" rel="stylesheet"/>
    <link th:href="@{/css/select2.css}" rel="stylesheet"/>
    <link th:href="@{/css/jquery.tagsinput.css}" rel="stylesheet"/>


    <link th:href="@{/css/style.datatables.css}" rel="stylesheet"/>
    <link th:href=@{/css/dataTables.responsive.css} rel="stylesheet"/>


    <link th:href="@{/css/dropzone.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-tour.css}" rel="stylesheet"/>

    <style>
        /*override the setting in bootstrap.css*/
        .input-group .form-control{z-index:1151 !important;}
    </style>


    <script th:src="@{/js/jquery-1.11.1.min.js}"></script>


    <script th:src="@{/js/jquery-ui-1.10.2.js}"></script>
    <script th:src="@{/js/jquery.tagsinput.min.js}"></script>
    <script th:src="@{/js/select2.min.js}"></script>

    <script th:src="@{/js/custom.js}"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->

    <script type="text/javascript">


        $(document).ready(function ($) {

            // Tags Input
            $('#tags').tagsInput({width: 'auto'});

            $('.tags').tagsInput({width: 'auto'});


            // Select2
            $("#select-vendors").select2();
            $("#roles").select2();
            $("#select-agency").select2();
            $("#select-department").select2();
            $("#select-station").select2();
           $("#select-roles").select2();
            $("#select-roles-edit").select2();




            $("#gender").select2();
            $("#select-vpas").select2();
            $("#select-vss").select2();
            $("#select-skills").select2();
            $(".pselect").select2();

            jQuery(".select2Class").select2();

            // Date Picker

            //  var $j = $.noConflict();
            $("#datepicker").datepicker({
                changeYear:true,
                dateFormat: "yy/mm/dd"

            });
            $("#datepicker2").datepicker({
                changeYear:true,
                dateFormat: "yy/mm/dd"

            });
            $("#datepicker1").datepicker(
                {
                    changeYear:true,
                    dateFormat: "yy/mm/dd"

                }
            );
            $("#datepicker3").datepicker({
                changeYear:true,
                dateFormat: "yy/mm/dd"

            });
            $("#datepicker4").datepicker({
                changeYear:true,
                dateFormat: "yy/mm/dd"

            });
            $("#datepicker5").datepicker({
                changeYear:true,
                dateFormat: "yy/mm/dd"

            });
            $("#datepicker6").datepicker({
                changeYear:true,
                dateFormat: "yy/mm/dd"

            });

            jQuery(".datepicker").datepicker(
                {
                    changeYear:true,
                    dateFormat: "yy/mm/dd"

                }
            );


            $("#select-vendors").on("change", function () {
                //alert($("#select-vendors").val());


                var selectVendor1 = $("#select-vendors").val();
              //  alert(selectVendor1);

                $.get("/api/vpas/" + selectVendor1, {}, function (data) {
                   // alert(selectVendor1);
                    if (data) {

                        $("#select-vpas option").remove();


                        $.each(data, function (index, value) {


                            $('#select-vpas').append(
                                ///  console.log("vpas appender");
                                '<option value="' + data[index].id + '">' + data[index].name + '</option>'
                            );
                        });

                    }
                });


            });

            $("#select-roles").on("change", function () {
                //alert($("#select-vendors").val());


                var selectVendor1 = $("#select-roles").val();
                //  alert(selectVendor1);

                $.get("/api/vpasByRole/" + selectVendor1, {}, function (data) {
                    // alert(selectVendor1);
                    if (data) {

                       // $("#select-vpas option").remove();


                        $.each(data, function (index, value) {


                            $('#select-vpas').append(
                                ///  console.log("vpas appender");
                                '<option value="' + data[index].id + '">' + data[index].name + '</option>'
                            );
                        });

                    }
                });


            });

            $("#select-roles-edit").on("change", function () {
                //alert($("#select-vendors").val());


                var selectVendor1 = $("#select-roles-edit").val();
                //  alert(selectVendor1);

                $.get("/api/vpasByRole/" + selectVendor1, {}, function (data) {
                    // alert(selectVendor1);
                    if (data) {




                        $.each(data, function (index, value) {


                            $('#select-vpas').append(
                                ///  console.log("vpas appender");
                                '<option value="' + data[index].id + '">' + data[index].name + '</option>'
                            );
                        });

                    }
                });


            });

            $("#select-vpas").select2();


            $("#select-vpas").on("change", function () {
                //alert($("#select-vpas").val());
                var selectVpa = $("#select-vpas").val();
                var selectVendor = $("#select-vendors").val();

                if (selectVendor !== null && selectVpa !== null) {

                    $.get("/api/vsses/" + selectVpa + "/" + selectVendor, {}, function (data) {
                        if (data) {
                            $("#select-vss option").remove();


                            $.each(data, function (index, value) {

                                $('#select-vss').append(
                                    '<option value="' + data[index].id + '">' + data[index].name + '</option>'
                                );
                            });

                        }
                    })
                }
            });

            $("#select-vss").on("change", function () {
                //alert($("#select-vpas").val());
                var selectVpa = $("#select-vpas").val();
                var selectVendor = $("#select-vendors").val();

                var selectVss = $("#select-vss").val();

                if (selectVendor !== null && selectVpa !== null) {

                    $.get("/api/skills/", {}, function (data) {
                        if (data) {
                            $("#select-skills option").remove();


                            $.each(data, function (index, value) {

                                $('#select-skills').append(
                                    '<option value="' + data[index].id + '">' + data[index].name + '</option>'
                                );
                            });

                        }
                    })
                }
            });


        });



    </script>
</head>


<header th:fragment="main-header">
    <div class="headerwrapper">
        <div class="header-left">
            <a href="/" class="logo">
                <img th:src="@{/images/vdmslogo.png}" style="width:70px; height: 35px;" alt="VDMS  Logo"/>
            </a>
            <div class="pull-right">
                <a href="" class="menu-collapse">
                    <i class="fa fa-bars"></i>
                </a>
            </div>

            <div id="welcome"> </div>
            <div id="vendorWelcome"> </div>

        </div><!-- header-left -->

        <div class="header-right">

            <div class="pull-right">


                <div class="btn-group btn-group-list btn-group-notification">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge">0</span>
                    </button>
                    <div class="dropdown-menu pull-right">
                        <a href="" class="link-right"><i class="fa fa-search"></i></a>
                        <h5>Notification</h5>
                        <ul class="media-list dropdown-list">
                            <li class="media">
                                <div class="media-body">
                                    <strong>There is </strong> no notification yet
                                    <small class="date"><i class="fa fa-thumbs-up"></i><!-- 15 minutes ago--></small>
                                </div>
                            </li>


                        </ul>
                        <!--
                        <div class="dropdown-footer text-center">
                            <a href="/accounts/login" class="link">See All Notifications</a>
                        </div>-->
                    </div><!-- dropdown-menu -->
                </div><!-- btn-group -->


                <div class="btn-group btn-group-option">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                       My Settings    <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a th:href="${'/accounts/' + #authentication.name}"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                        <li><a href="/logins/audit"><i class="glyphicon glyphicon-star"></i> Activity Log</a></li>

                        <li><a th:href="@{/accounts/changeMyPassword}"><i class="fa fa-key"></i> Change Password </a>
                        </li>
                        <li class="divider"></li>
                        <li><a th:href="@{/logout}"><i class="glyphicon glyphicon-log-out"></i>Sign Out</a></li>
                    </ul>
                </div><!-- btn-group -->

            </div><!-- pull-right -->

        </div><!-- header-right -->

    </div><!-- headerwrapper -->
</header>
