<!-- Javascript files-->
<div  th:fragment="public-footer" >

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script th:src="@{/public/js/bootstrap.min.js}"> </script>

    <script th:src="@{/public/js/jquery.cookie.js}"> </script>
<script th:src="@{/public/js/ekko-lightbox.js}"></script>
<script th:src="@{/public/js/jquery.simple-text-rotator.min.js}"></script>
<script th:src="@{/public/js/jquery.scrollTo.min.js}"></script>
<script th:src="@{/public/js/owl.carousel.min.js}"></script>
<script th:src="@{/public/js/front.js}"></script>


    <!---->
    <!-- Hotjar Tracking Code for vdms.lepsms.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:544617,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
</div>


