
<head th:fragment="pubheader">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content=""><link th:href="@{/images/favicon.ico}" type="image/x-icon" rel="shortcut icon" />
    <title>Vendor Database Management Software:: UN System in Nigeria Home</title>   <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap-->
    <link rel="stylesheet" th:href="@{/public/css/bootstrap.min.css}">
    <!-- Google fonts - Open Sans-->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,400italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Stroke 7 font by Pixeden (http://www.pixeden.com/icon-fonts/stroke-7-icon-font-set)-->
    <link rel="stylesheet" th:href="@{/public/css/pe-icon-7-stroke.css}">
    <link rel="stylesheet" th:href="@{/public/css/helper.css}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" th:href="@{/public/css/style.default.css}" id="theme-stylesheet">
    <!-- owl carousel-->
    <link rel="stylesheet" th:href="@{/public/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/public/css/owl.theme.css}">
    <link href="/css/jquery.gritter.css" rel="stylesheet">

    <!-- plugins-->
    <link rel="stylesheet" th:href="@{/public/css/simpletextrotator}">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" th:href="@{/public/css/custom.css}">
    <!-- Favicon-->
    <link rel="shortcut icon" th:href="@{/images/favicon.png}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>



<header class="header" th:fragment="pubnav">
    <div role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header"><a href="/" class="navbar-brand scroll1-to">
                <img th:src="@{/public/img/b2.png}" width="118" height="100"alt="logo" class="hidden-xs hidden-sm"><img src="/public/img/b2.png" alt="logo" class="visible-xs visible-sm" width="118" height="100"><span class="sr-only">Go to homepage</span></a>
                <div class="navbar-buttons">
                    <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="pe-7s-menu"></i></button>
                </div>
            </div>
            <div id="navigation" class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li th:if="${#httpServletRequest.requestURI != '/'} "><a href="/" class="scroll1-to">Home</a></li>
                      <li><a href="/notices/public" class="scroll-1to">Notices</a></li>

                    <li><a href="/home/faqs" class="scroll-t1o">FAQs</a></li>
                    <li><a href="/contact" class="scroll-1to">Contact</a></li>
                </ul>
                <a sec:authorize="isAuthenticated()" href="/accounts/login"  class="btn navbar-btn btn-ghost">Go to Dashboard</a>
                <a sec:authorize="!isAuthenticated()" href="/accounts/login"  class="btn navbar-btn btn-ghost">Login</a>
                <a  sec:authorize="isAuthenticated()"  th:text="${'Logout, ' + #authentication.principal.User.firstname}"  href="/logout" class="btn navbar-btn btn-ghost">Signup </a>

                <a  sec:authorize="!isAuthenticated()"  href="/register"  class="btn navbar-btn btn-ghost">Signup </a>
            </div>
        </div>
    </div>
</header>