<div class="leftpanel" th:fragment="leftpanel-admin">
    <div class="media profile-left">


        <div class="media-body" sec:authorize="isAuthenticated()">
            <h4 class="media-heading" th:text="${#authentication.principal.User.firstname + ' ' + #authentication.principal.User.lastname}"></h4>
            <small sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</small>

        </div>
    </div><!-- media -->

    <h5 class="leftpanel-title">Navigation</h5>
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a th:href="@{/accounts}"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>


        <li class="parent"><a href=""><i class="fa fa-desktop"></i> <span>Thematic Area</span></a>
            <ul class="children">
                <li><a th:href="@{/vpas}">Vendor Programme </a></li>

                <li><a th:href="@{/vsses}">Vendor Specialization</a></li>
                <li><a th:href="@{/skills}">Vendor Skills</a></li>


            </ul>
        </li>

        <li class="parent"><a href=""><i class="fa fa-question"></i> <span>FAQ Manager</span></a>
            <ul class="children">
                <li><a th:href="@{/faqs}">Faqs </a></li>




            </ul>
        </li>

        <li class="parent"><a href=""><i class="fa fa-suitcase"></i> <span>Contracts</span></a>
            <ul class="children">
                <li><a href="/contracts">Manage Contracts</a></li>
                <li><a href="/docTypes">Manage Document Types</a></li>
                <li><a href="/contracts/documents">List Contract Documents</a></li>
            </ul>
        </li>

        <li class="parent"><a href=""><i class="fa fa-edit"></i> <span>Users</span></a>

            <ul class="children">

                <li><a th:href="@{/users}">Manage Users</a></li>
                <li><a th:href="@{/users/deleted}">Deleted Users</a></li>

               <!-- <li><a href="#">User Permission</a></li>-->

            </ul>
        </li>
        <li class="parent"><a href=""><i class="fa fa-users"></i> <span>Vendor Manager</span></a>
            <ul class="children">
                <li><a href="/vendors?type=consultant">Consultants</a></li>

                <li><a href="/vendors?type=ngo">NGO</a></li>
                <li><a href="/vendors?type=supplier">Suppliers</a></li>
                <li><a href="/vendors/suspended">Suspended</a></li>


            </ul>
        </li>


        <li class="parent"><a href=""><i class="fa fa-info-circle"></i> <span>Notices</span></a>
            <ul class="children">
                <li><a href=/notices">Manage Notices</a></li>



            </ul>
        </li>

        <li><a href="/notices"><i class="fa fa-cubes"></i> <span>Tenders</span></a></li>


        <li class="parent"><a href=""><i class="fa fa-suitcase"></i> <span>Performance Evaluation</span></a>
            <ul class="children">
                <li><a href="/evaluations/consultants/ratingForm">Consultant</a></li>
                <li><a href="/evaluations/suppliers/ratingForm">Supplier</a></li>
                <li><a href="/evaluations/ngos/ratingForm">NGO</a></li>

            </ul>
        </li>

        <li class="parent"><a href=""><i class="fa fa-bars"></i> <span>Search & Report </span></a>
            <ul class="children">
                <li><a href="#">Vendors</a></li>
                <li><a href="/evaluations">Performances</a></li>
            </ul>
        </li>

        <li class="parent"><a href=""><i class="fa fa-bars"></i> <span>Audit Trails  </span></a>
            <ul class="children">

                <li><a href="/logins/audits">Login Hisory</a></li>
                <li><a href="/logins/audit">My Login History</a></li>
            </ul>
        </li>
        <li class="parent"><a href=""><i class="fa fa-cog"></i> <span> System Settings</span></a>
            <ul class="children">
                <li><a href="/agencies"> Agencies</a></li>
                <li><a href="/departments"> Departments</a></li>
                <li><a href="/stations"> Stations</a></li>


            </ul>
        </li>

    </ul>

</div>