<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/admin-header :: head"></head>

<body>

<header th:replace="fragments/admin-header :: main-header"></header>

<section>
    <div class="mainwrapper">
        <div
                th:replace="fragments/admin-leftpanel :: leftpanel-admin"></div>
        <!-- leftpanel -->

        <div class="mainpanel">
            <div class="pageheader">
                <div class="media">
                    <div class="pageicon pull-left">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="media-body">
                        <ul class="breadcrumb">
                            <li><a th:href="@{/accounts}"><i class="glyphicon glyphicon-home"></i></a></li>
                            <li><a th:href="@{/users}">Users</a></li>
                            <li>User Management</li>
                        </ul>
                        <h4>Users List</h4>
                    </div>
                </div><!-- media -->
            </div><!-- pageheader -->

            <div class="row">

                <div class="col-md-12">


                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <div class="col-sm-10 col-xs-10">

                                    <input type="text" name="q" class="form-control input-lg"
                                           placeholder="Search Users by Email or Username of Firstname" title="Search Users by Email or Username of Firstname">

                                    <br/>
                                    <button class="btn btn-danger"> Search</button>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>


            <div class="row">


                <div class="col-md-12">
                    <a th:href="@{/users/create}" class="btn btn-sm btn-primary btn-rounded pull-right">Add New</a>


                    <a th:href="@{/exports/users}" class="btn btn-sm btn-success btn-rounded  pull-left"
                       title="Export to Excel"> <i title="Export to Excel" class="fa fa-file-excel-o"></i></a>

                    <br/><br/>
                </div>


            </div>

            <span th:text="${#httpServletRequest.getParameter('q') == null} ? 'Page ' + ${users.number + 1} + ' of ' + ${users.totalPages} + ' |': null"></span>
            <span th:text="  ${#httpServletRequest.getParameter('q') == null} ? ' ' + ${users.size} + ' user(s) per page': null"></span>


            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>

                        <th>Roles</th>
                        <th>Joined</th>
                        <th>Last login</th>
                        <th colspan="3"></th>

                    </tr>

                    <tr th:each="user : ${users}">
                        <td style="width:200px !important;"><span
                                th:text="${#strings.capitalizeWords(user.lastname)}"></span> <span
                                th:text="${#strings.capitalize(user.firstname)} "></span>
                        </td>
                        <td th:text="${user.email}"></td>
                        <td>
                            <small th:each="role : ${user.roles}">
                                <span class="" th:text="${role.name}"></span>
                            </small>
                        </td>
                        <td><span th:text="${#dates.format(user.created_at,'dd-MMM-yyyy')}"></span></td>
                        <td><span
                                th:text="${user.lastLoggedIn != null ? #temporals.format(user.lastLoggedIn,'dd-MMM-yyyy h:mm a') : null}"></span>
                        </td>
                        <td colspan="3">
                            <a th:href="@{'/users/edit/' + ${user.uuid} }" title="Edit this user" class="btn"><i
                                    class="fa fa-edit"></i></a>
                            <a th:href="@{'/users/resetPasswordToDefault/' + ${user.uuid} }"
                               class="btn" title="Reset Password to Default"><i class="fa fa-unlock-alt"></i></a>
                            <a th:if="${#authorization.expression('isAuthenticated()') and #strings.contains(#authentication.principal.authorities,'ADMIN_ACCOUNT')}"
                               th:href="@{'/users/delete/' + ${user.uuid} }" title="Delete User"
                               onclick="return confirm('Are you sure you want to delete ?');" class="btn"> <i
                                    class="fa fa-trash-o"></i>
                            </a>
                        </td>


                    </tr>

                </table>

                <div class="text-center">
                    <ul class="pagination">
                        <li th:if="${prev}"><a th:href="@{/users/(size=${prev.pageSize}, page=${prev.pageNumber})}">Previous</a>
                        </li>
                        <li th:if="${next}"><a
                                th:href="@{/users/(size=${next.pageSize}, page=${next.pageNumber})}">Next</a></li>

                    </ul>

                </div>
            </div>


        </div>


    </div>


    </div><!-- end of row content -->


    <!--</div>--><!-- end of container fluid -->

</section>

<div th:replace="fragments/admin-footer::footer"></div>

<script>
    jQuery(document).ready(function () {

        jQuery('#basicTable').DataTable({
            responsive: true
        });

        var shTable = jQuery('#shTable').DataTable({
            "fnDrawCallback": function (oSettings) {
                jQuery('#shTable_paginate ul').addClass('pagination-active-dark');
            },
            responsive: true
        });

        // Show/Hide Columns Dropdown
        jQuery('#shCol').click(function (event) {
            event.stopPropagation();
        });

        jQuery('#shCol input').on('click', function () {

            // Get the column API object
            var column = shTable.column($(this).val());

            // Toggle the visibility
            if ($(this).is(':checked'))
                column.visible(true);
            else
                column.visible(false);
        });

        var exRowTable = jQuery('#exRowTable').DataTable({
            responsive: true,
            "fnDrawCallback": function (oSettings) {
                jQuery('#exRowTable_paginate ul').addClass('pagination-active-success');
            },
            "ajax": "ajax/objects.txt",
            "columns": [
                {
                    "class": 'details-control',
                    "orderable": false,
                    "data": null,
                    "defaultContent": ''
                },
                {"data": "name"},
                {"data": "position"},
                {"data": "office"},
                {"data": "salary"}
            ],
            "order": [[1, 'asc']]
        });

        // Add event listener for opening and closing details
        jQuery('#exRowTable tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = exRowTable.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });


        // DataTables Length to Select2
        jQuery('div.dataTables_length select').removeClass('form-control input-sm');
        jQuery('div.dataTables_length select').css({width: '60px'});
        jQuery('div.dataTables_length select').select2({
            minimumResultsForSearch: -1
        });

    });

    function format(d) {
        // `d` is the original data object for the row
        return '<table class="table table-bordered nomargin">' +
            '<tr>' +
            '<td>Full name:</td>' +
            '<td>' + d.name + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Extension number:</td>' +
            '<td>' + d.extn + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Extra info:</td>' +
            '<td>And any further details here (images etc)...</td>' +
            '</tr>' +
            '</table>';
    }
</script>

</body>
</html>
