
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vendor Database Management Software:: United Nations System in Nigeria &nbsp; Administration </title>


    <link th:href="@{/css/style.default.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{js/html5shiv.js}"></script>
    <script th:src="@{js/respond.min.js}"></script>
    <![endif]-->
</head>

<body>

<section>
    <div class="notfoundpanel">


        <h3>403 - Access is denied</h3>
        <div sec:authorize="isAuthenticated()"  th:inline="text">Hello [[${#authentication.getPrincipal().getUser().getFirstName()}]],

        </div>
        <p th:if="${url}">
            <b>Page:</b> <span th:text="${url}">Page URL</span>
        </p>

        <p th:if="${timestamp}" id='created'>
            <b> Problem Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
        </p>

        <p th:if="${status}">
            <b>Response Status:</b> <span th:text="${status}">status-code</span> <span
                th:if="${error}" th:text="'('+${error}+')'">error ...</span>
        </p>


        <br/><br/>
    <br/>
    <a th:href="@{/accounts}" class="btn btn-danger" /> Return Home </a>

    <a th:href="@{/logout}" class="btn btn-danger" /> Logout </a>

    <br/><br/><br/>




    </div><!-- notfoundpanel -->
</section>


<script th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/modernizr.min.js}"></script>
<script th:src="@{js/pace.min.js}"></script>
<script th:src="@{js/retina.min.js}"></script>
<script th:src="@{js/jquery.cookies.js}"></script>

<script th:src="@{js/custom.js}"></script>

</body>
</html>
