<html>
<head th:replace="fragments/header :: pubheader">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vendor Database Management System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Google fonts - Open Sans-->
      <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,400italic">
    <!-- Stroke 7 font by Pixeden (http://www.pixeden.com/icon-fonts/stroke-7-icon-font-set)-->
    <link rel="stylesheet" href="css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="css/helper.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
    <!-- owl carousel-->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <!-- plugins-->
    <link rel="stylesheet" href="css/simpletextrotator">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="favicon.png">
    <style>
       #map {
        height: 300px;
        width: 100%;
       }
    </style>
	
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
   <body data-spy="scroll" data-target="#navigation" data-offset="120">
<div id="all">
      <!-- navbar-->
    <header th:replace="fragments/header :: pubnav" class="header">
    <div role="navigation" class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header"><a href="#all" class="navbar-brand scroll-to"><img src="img/b2.png" width="118" height="100"alt="logo" class="hidden-xs hidden-sm"><img src="img/b2.png" alt="logo" class="visible-xs visible-sm" width="118" height="100"><span class="sr-only">Go to homepage</span></a>
              <div class="navbar-buttons">
                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="pe-7s-menu"></i></button>
              </div>
            </div>
            <div id="navigation" class="collapse navbar-collapse navbar-right">
              <ul class="nav navbar-nav">
                <li><a href="index.html" class="scroll-to">Home</a></li>
                <li><a href="about.html" class="scroll-to">About Us </a></li>
                <li><a href="#" class="scroll-to">Our Product</a></li>
                <li><a href="faq.html" class="scroll-to">FAQs</a></li>
                <li><a href="contact.html" class="scroll-to">Contact</a></li>
                                <li><a href="notices.html" class="scroll-to">Notices</a></li>

              </ul><a href="#" data-toggle="modal" data-target="#get-started" class="btn navbar-btn btn-ghost">Login</a>
              <a href="#" data-toggle="modal" data-target="#get-started" class="btn navbar-btn btn-ghost">Register</a>
            </div>
          </div>
        </div>
      </header>

<div class="container">
  <div class="page-header">
    <h1>Contact Us:
      <small>Send Us Mail</small>
    </h1>
  </div>
    <div class="row">
        <div class="col-md-6">
            <div class="well well-sm">
                <div th:if="${success != null}" th:text="${success}" class="alert alert-success"></div>
                <div th:if="${error != null}" th:text="${error}" class="alert alert-danger"></div>


                <form th:if="${success == null}" class="form-horizontal" method="post" action="/contact">
                    <fieldset>
                        <legend class="text-center header">Contact us</legend>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="fname" th:value="${name}" name="name" type="text" required placeholder="Name" class="form-control">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="email" th:value="${email}" name="email" type="text" required placeholder="Email Address" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="phone" th:value="${phone}" name="phone" type="text"  required placeholder="Phone" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <textarea th:text="${message}" class="form-control" id="message" required name="message" placeholder="Enter your massage for us here. We will get back to you." rows="7"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">

                            <div class="g-recaptcha" style="width:100%;" data-sitekey="6LdakCcUAAAAAONwLnJHLe-fz5QhYO_PWl5BBz4R"></div>
                            </div></div>
                        <br/>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <div class="panel panel-default">
                    <div class="text-center header">Address</div>
                    <div class="panel-body text-center">

                        <div>
                            The VDMS Secretariat,<br/>
                            UNDP,<br/>
                            UN House,<br/>
                            Plot 617/618 Diplomatic Zone,<br/>
                            Central Business District,<br/>
                            Abuja<br/>

                            rosters.ng@one.un.org
                        </div>
                        <hr />
                        <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>


<footer class="footer">
    <div class="footer__copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <p th:inline="text">United Nations System in Nigeria &copy; [[${#dates.year(#dates.createNow())}]]
                </div>

            </div>
        </div>
    </div>
</footer>
</div>

<div th:replace="fragments/footer :: public-footer"></div>
    <!-- Javascript files-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script>
      function initMap() {
        var uluru = {lat: 9.0525, lng: 7.4868};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuFZxSjxllHzuhxxwy_KnSIS3zTF9zy-U&callback=initMap">
    </script>


  </body>
</html>