<html>
  <head th:replace="fragments/header :: pubheader">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vendor Dtatabase Management System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Google fonts - Open Sans-->
      <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,400italic">
    <!-- Stroke 7 font by Pixeden (http://www.pixeden.com/icon-fonts/stroke-7-icon-font-set)-->
    <link rel="stylesheet" href="css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="css/helper.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
    <!-- owl carousel-->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <!-- plugins-->
    <link rel="stylesheet" href="css/simpletextrotator">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="favicon.png">
	<style>
		.center {
			text-align: center;
		}

		.pagination {
			display: inline-block;
		}

		.pagination a {
			color: black;
			float: left;
			padding: 8px 16px;
			text-decoration: none;
			transition: background-color .3s;
			border: 1px solid #ff0000;
			margin: 0 4px;
		}

		.pagination a.active {
			background-color: #0061B2;
			color: white;
			border: 1px solid #0061B2;
		}

		.pagination a:hover:not(.active) {background-color: #ff0000;
		}
</style>
	
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
   <body data-spy="scroll" data-target="#navigation" data-offset="120">
    <div id="all">
      <!-- navbar-->
     <header th:replace="fragments/header :: pubnav" class="header">

        <div role="navigation" class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header"><a href="#all" class="navbar-brand scroll-to"><img src="img/b2.png" width="118" height="100"alt="logo" class="hidden-xs hidden-sm"><img src="img/b2.png" alt="logo" class="visible-xs visible-sm" width="118" height="100"><span class="sr-only">Go to homepage</span></a>
              <div class="navbar-buttons">
                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="pe-7s-menu"></i></button>
              </div>
            </div>
            <div id="navigation" class="collapse navbar-collapse navbar-right">
              <ul class="nav navbar-nav">
                <li><a href="index.html" class="scroll-to">Home</a></li>
                <li><a href="about.html" class="scroll-to">About Us </a></li>
                <li><a href="#" class="scroll-to">Our Product</a></li>
                <li><a href="faq.html" class="scroll-to">FAQs</a></li>
                <li><a href="contact.html" class="scroll-to">Contact</a></li>
              </ul><a href="#" data-toggle="modal" data-target="#get-started" class="btn navbar-btn btn-ghost">Login</a>
              <a href="#" data-toggle="modal" data-target="#get-started" class="btn navbar-btn btn-ghost">Register</a>
            </div>
          </div>
        </div>
      </header>

<div class="container">
  <div class="page-header">
    <h1>FAQ
      <small>Frequently Asked Questions</small>
    </h1>
  </div>
  <div class="row">
    <div id="faq" class="col-md-10 col-md-offset-1">
      <div class="panel-group" id="accordion">
        <div th:each="f,iter : ${vendorsNum}"  class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                th:href="@{'#collapse-' + ${iter.index}}" th:text="${f.question}">
              Lorem ipsum dolor sit amet?
              </a>
            </h4>
          </div>
          <div th:id="@{'collapse-' + ${iter.index}}" class="panel-collapse collapse">
            <div class="panel-body">
              <p th:text="${f.answer}">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
              </p>

            </div>

          </div>
        </div>

      </div>






		<div class="center">
		  <ul class="pagination">



              <li class="first"><a th:href="@{ ${pager.unpagedUrl} + '?page=0'  }" >First</a></li>
              <li th:if="${pager.hasPrev() }" class=""><a th:href="@{ ${#strings.contains(pager.unpagedUrl, '?')} ? ${pager.unpagedUrl} + '&amp;page=' + ${pager.page -1} : ${pager.unpagedUrl} + '?page=' + ${pager.page -1}  }" >Prev</a></li>


              <li th:each="page : ${pager.list}" ><a th:href="@{ ${#strings.contains(pager.unpagedUrl, '?')} ?  ${pager.unpagedUrl} + '&amp;page=' + ${page} : ${pager.unpagedUrl} + '?page=' + ${page}  }"  th:text="${page}"></a></li>

              <li th:if="${#lists.size(pager.list) lt pager.totalPages}"><a>...</a></li>

              <li th:if="${pager.hasNext()}" class=""><a th:href="@{ ${#strings.contains( pager.unpagedUrl, '?')} ? ${pager.unpagedUrl} + '&amp;page=' + ${pager.page +1} : ${pager.unpagedUrl} + '?page=' + ${pager.page +1}  }" >Next</a></li>

              <li class="last"><a th:href="@{ ${pager.unpagedUrl} + '?page=' + ${pager.totalPages - 1}  }" >Last</a></li>




        </ul>

        </div></div>
    </div>

  </div>
</div>


       <footer class="footer">
        <div class="footer__copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <p th:inline="text">United Nations System in Nigeria &copy; [[${#dates.year(#dates.createNow())}]]</p>
              </div>
              
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div th:replace="fragments/footer :: public-footer"></div>

   </body>
</html>