
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/admin-header :: head"></head>

<body>

<header th:replace="fragments/admin-header :: main-header" ></header>

<section>
    <div class="mainwrapper">
         <span sec:authorize="hasAuthority('CONSULTANT')">
            <div  th:replace="fragments/consultant-leftpanel :: leftpanel-admin"  ></div>

        </span>

        <span sec:authorize="hasAuthority('NGO')">
            <div  th:replace="fragments/ngo-leftpanel :: leftpanel-admin"  ></div>

        </span>

        <span sec:authorize="hasAuthority('SUPPLIER')">
            <div  th:replace="fragments/supplier-leftpanel :: leftpanel-admin"  ></div>

        </span>
        <span sec:authorize="hasAnyAuthority('ADMIN_ACCOUNT','STAFF','UNSTAFF')">
            <div  th:replace="fragments/admin-leftpanel :: leftpanel-admin"  ></div>

        </span>
        <!-- leftpanel -->
                
                <div class="mainpanel">
                    <div class="pageheader">
                        <div class="media">
                            <div class="pageicon pull-left">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="media-body">
                                <ul class="breadcrumb">
                                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                                    <li><a href="">Accounts</a></li>
                                    <li>Profile</li>
                                </ul>
                                <h4> User Profile </h4>
                            </div>
                        </div><!-- media -->
                    </div><!-- pageheader -->
                    
                    <div class="contentpanel">
                        
                        <div class="row">
                            <div class="col-sm-4 col-md-3">
                                <div class="text-center">
                                      <h4 class="profile-name mb5" th:text="${user.firstname +  ' ' + user.lastname}">Elen Adarna</h4>

                                    <div class="mb20"></div>
                                

                                </div><!-- text-center -->
                                
                                <br />
                              
                                <h5 class="md-title">Category/Type</h5>
                                <p class="mb30" th:text="${user.getRoleNames()}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat... <a href="">Show More</a></p>
                              

                              
                                <div class="mb30"></div>
                              
                                <h5 class="md-title">JOINED</h5>
                                <address th:text="${#dates.format(user.created_at,'dd-MMM-YYYY')}">

                                     (123) 456-7890
                                </address>
                              
                            </div><!-- col-sm-4 col-md-3 -->
                            
                            <div class="col-sm-8 col-md-9">
                              
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-line">
                                    <li class="active"><a href="#activities" data-toggle="tab"><strong>Activities</strong></a></li>
                                              </ul>
                            
                                <!-- Tab panes -->
                                <div class="tab-content nopadding noborder">
                                    <div class="tab-pane active" id="activities">
                                        <div class="activity-list">



                                            <div class="media " th:each="l : ${logins}">

                                                <div class="media-body width100p">
                                                    <strong th:text="${l.user.username}">Ray Sin</strong> <code>signed in:</code> <strong th:text="${l.loginTime != null} ? ${#temporals.format(l.loginTime.atZone(zoneId), 'dd-MMM-yyyy HH:mm')}  : '-' ">Eileen Sideways</strong>.
                                                    <code>signed out:</code>  <small class="text-muted" th:text="${l.LogoutTime != null} ? ${#temporals.format(l.LogoutTime.atZone(zoneId), 'dd-MMM-yyyy HH:mm')}  : '-' ">Yesterday at 3:30pm</small>
                                                    with <code>IP</code> <span th:text="${l.ip}"></span> |

                                                </div>
                                            </div><!-- media -->
                                  

                                  

                                  

                                  


                                  

                                  

                                        </div><!-- activity-list -->
                                
                                        <a  href="/logins/audit" class="btn btn-white btn-block">Show More</a>
                                    </div><!-- tab-pane -->
                                    


                                
                            </div><!-- tab-content -->
                              
                            </div><!-- col-sm-9 -->
                        </div><!-- row -->  
                    
                    </div><!-- contentpanel -->
                    
                </div>
            </div><!-- mainwrapper -->
        </section>


        <script src="/js/jquery-1.11.1.min.js"></script>
        <script src="/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/modernizr.min.js"></script>
        <script src="/js/pace.min.js"></script>
        <script src="/js/retina.min.js"></script>
        <script src="/js/jquery.cookies.js"></script>
        
        <script src="/js/jquery.prettyPhoto.js"></script>
        <script src="/js/holder.js"></script>

        <script src="/js/custom.js"></script>
        <script>
            jQuery(document).ready(function(){
              
              jQuery("a[data-rel^='prettyPhoto']").prettyPhoto();
              
            });
        </script>

    </body>
</html>
