<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta th:if="${emailSent}" http-equiv="refresh" th:content="|10;${redirectionUrl}|" />
<script async="" defer="" src="https://www.google.com/recaptcha/api.js"></script>
<header th:replace="fragments/pubheader :: header">
     </header>
<body class="signin">


<section>

    <div class="panel panel-signup">
        <div class="panel-body">
            <div class="logo text-center">
                <a th:href="@{/}" > <img th:src="@{/public/img/b2.png}"  style="width:90px; height: 60px;" alt="UNDP  Logo" /></a>
                <!--<a th:href="@{/}" > <img th:src="@{/images/vdmslogo.png}"  style="width:120px; height: 65px;" alt="VDMS  Logo" /></a>-->
            </div>
            <br />
            <h4 class="text-center mb5">Create a new account</h4>


            <p class="text-center alert-danger " style="height:45px;" th:if="${error}" th:utext="${responseMessage}" ><br/>Please enter your credentials below</p>
            <p class="text-center alert-success " style="height:45px;" th:if="${success}" th:utext="${responseMessage}" ><br/>Please enter your credentials below</p>

            <div class="mb30"></div>

            <form th:action="@{/register}" method="post" th:object="${user}">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group mb15">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" required="required" class="form-control" th:field="*{firstname}"
                                   placeholder="Enter Firstname or Organization Name " />
                        </div><!-- input-group -->
                    </div></div>
                    <div class="row">
                    <div class="col-sm-12">

                        <div class="input-group mb15">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" th:field="*{lastname}" placeholder="Enter Lastname" />
                        </div><!-- input-group -->
                    </div>
                </div><!-- row -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group mb15">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="email" required="required" th:field="*{email}" class="form-control" placeholder="Enter Email Address" />
                        </div><!-- input-group -->
                    </div></div>


                <div class="row">

                    <div class="col-sm-12">
                        <div class="input-group mb15">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" required="required" name="password" class="form-control" placeholder="Enter Password" />
                        </div><!-- input-group -->

                    </div>
                </div>
                <div class="row">


            <div class="col-sm-12">
                        <div class="input-group mb15">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" required="required" name="verify-password" class="form-control" placeholder="Enter Password Again" />
                        </div><!-- input-group -->
                    </div>
                </div><!-- row -->
                <br />

                <div class="col-sm-12">
                    <div class="input-group mb15">

                    <div class="g-recaptcha" style="width:100%;" data-sitekey="6LdakCcUAAAAAONwLnJHLe-fz5QhYO_PWl5BBz4R"></div>
                    </div></div>
                <br/>

                <div class="clearfix">
                    <div class="pull-left">
                        <div class="ckbox ckbox-primary mt5">
                            <input required type="checkbox" id="agree" value="1" />
                            <label for="agree">I agree with <a target="_blank" href="/terms">Terms and Conditions</a></label>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success">Register <i class="fa fa-angle-right ml5"></i></button>
                    </div>
                </div>
            </form>

        </div><!-- panel-body -->
        <div class="panel-footer">
            <a th:href="@{/accounts/login}" class="btn btn-primary btn-block">Already a Member? Sign In</a>
        </div><!-- panel-footer -->
    </div><!-- panel -->

</section>


<script th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/modernizr.min.js}"></script>
<script th:src="@{/js/pace.min.js}"></script>
<script th:src="@{/js/retina.min.js}"></script>
<script th:src="@{/js/jquery.cookies.js}"></script>

<script th:src="@{/js/custom.js}"></script>

</body>
</html>
