<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/admin-header :: head"></head>
<body>
<header th:replace="fragments/admin-header :: main-header" ></header>

<section>
    <div class="mainwrapper">
        <div th:replace="fragments/staff-leftpanel :: leftpanel-admin" ></div>
        <!-- leftpanel -->

        <div class="mainpanel">
            <div class="pageheader">
                <div class="row">
                    <div class="col-md-9">
                        <div class="media">
                            <div class="pageicon pull-left">
                                <i class="fa fa-th-list"></i>
                            </div>
                            <div class="media-body">
                                <ul class="breadcrumb">
                                    <li><a th:href="@{/accounts}"><i class="glyphicon glyphicon-home"></i></a></li>

                                    <li>Dashboard</li>
                                </ul>
                                <h4>Dashboard</h4>
                            </div>
                        </div><!-- media -->
                    </div>

                </div>
            </div><!-- pageheader -->


            <div class="contentpanel">

                <div class="row row-stat">
                    <div class="col-md-4">
                        <div class="panel panel-success-alt noborder">
                            <div class="panel-heading noborder">
                                <div class="panel-btns">
                                    <a href="" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i
                                            class="fa fa-times"></i></a>
                                </div><!-- panel-btns -->
                                <div class="panel-icon"><i class="fa fa-users"></i></div>
                                <div class="media-body">
                                    <h5 class="md-title nomargin"> Vendors</h5>
                                    <h1 class="mt5" th:text="${vendorsNum}">81,022</h1>
                                </div><!-- media-body -->
                                <hr/>
                                <div class="clearfix mt20">
                                    <div class="pull-left">
                                        <h5 class="md-title nomargin">This Week</h5>
                                        <h4 class="nomargin">3</h4>
                                    </div>
                                    <div class="pull-right">
                                        <h5 class="md-title nomargin">This Month</h5>
                                        <h4 class="nomargin">3</h4>
                                    </div>
                                </div>

                            </div><!-- panel-body -->
                        </div><!-- panel -->
                    </div><!-- col-md-4 -->

                    <div class="col-md-4">
                        <div class="panel panel-primary noborder">
                            <div class="panel-heading noborder">
                                <div class="panel-btns">
                                    <a href="" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i
                                            class="fa fa-times"></i></a>
                                </div><!-- panel-btns -->
                                <div class="panel-icon"><i class="fa fa-user"></i></div>
                                <div class="media-body">
                                    <h5 class="md-title nomargin">Staff</h5>
                                    <h1 class="mt5" th:text="${staffNum}">138,102</h1>
                                </div><!-- media-body -->
                                <hr/>
                                <div class="clearfix mt20">
                                    <div class="pull-left">
                                        <h5 class="md-title nomargin"> This Month</h5>
                                        <h4 class="nomargin" th:text="${monthStaffNum}">10,009</h4>
                                    </div>
                                    <div class="pull-right">
                                        <h5 class="md-title nomargin">This Year</h5>
                                        <h4 class="nomargin" th:text="${yearStaffNum}">178,222</h4>
                                    </div>
                                </div>

                            </div><!-- panel-body -->
                        </div><!-- panel -->
                    </div><!-- col-md-4 -->

                    <div class="col-md-4">
                        <div class="panel panel-dark noborder">
                            <div class="panel-heading noborder">
                                <div class="panel-btns">
                                    <a href="" class="panel-close tooltips" data-toggle="tooltip" data-placement="left"
                                       title="Close Panel"><i class="fa fa-times"></i></a>
                                </div><!-- panel-btns -->
                                <div class="panel-icon"><i class="fa fa-pencil"></i></div>
                                <div class="media-body">
                                    <h5 class="md-title nomargin">Contract Repository</h5>
                                    <h1 class="mt5" th:text="${contractsNum}">153,900</h1>
                                </div><!-- media-body -->
                                <hr/>
                                <div class="clearfix mt20">
                                    <div class="pull-left">
                                        <h5 class="md-title nomargin">Active</h5>
                                        <h4 class="nomargin" th:text="${activeContractsNum}">000</h4>
                                    </div>
                                    <div class="pull-right">
                                        <h5 class="md-title nomargin">This Year</h5>
                                        <h4 class="nomargin" th:text="${yearContractsNum}">982</h4>
                                    </div>
                                </div>

                            </div><!-- panel-body -->
                        </div><!-- panel -->
                    </div><!-- col-md-4 -->
                </div><!-- row -->




                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-7">
                                        <h5 class="lg-title">Vendors</h5>

                                        <div id="bar-chart"></div>
                                    </div><!-- col-md-7 -->
                                    <div class="col-md-5">
                                        <h5 class="lg-title">System Status</h5>
                                           <span class="sublabel">Vendor Module (40.05 - 32 cpus)</span>
                                        <div class="progress progress-xs progress-metro">
                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                                        </div><!-- progress -->

                                        <span class="sublabel">Contract Repository (32.2%)</span>
                                        <div class="progress progress-xs progress-metro">
                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 32%"></div>
                                        </div><!-- progress -->

                                        <span class="sublabel">Disk Usage (82.2%)</span>
                                        <div class="progress progress-xs progress-metro">
                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 82%"></div>
                                        </div><!-- progress -->

                                        <span class="sublabel">Database Records (63/100)</span>
                                        <div class="progress progress-xs progress-metro">
                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 63%"></div>
                                        </div><!-- progress -->

                                        <span class="sublabel">Staff (2/10)</span>
                                        <div class="progress progress-xs progress-metro">
                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                                        </div><!-- progress -->

                                        <span class="sublabel">Thematic Areas (13/50)</span>
                                        <div class="progress progress-xs progress-metro">
                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 26%"></div>
                                        </div><!-- progress -->


                                    </div><!-- col-md-5 -->
                                </div><!-- row -->
                            </div><!-- panel-body -->
                        </div><!-- panel -->
                    </div>


                </div><!-- row -->




            </div><!-- contentpanel -->

        </div><!-- mainpanel -->
    </div><!-- mainwrapper -->
</section>


<div th:replace="fragments/admin-footer::footer"></div>

<div class="clearfix"> </div>

<p class="row container-fluid col-md-12" style="">
<p class="center-block text-center color-bar"> United Nations Systems in Nigeria, Vendor Database Management System &copy;</p>
</p>
</body>
</html>
