<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/admin-header :: head"></head>

<body>

<header th:replace="fragments/admin-header :: main-header" ></header>

<section>
    <div class="mainwrapper">
        <div
                th:replace="fragments/admin-leftpanel :: leftpanel-admin" ></div>
        <!-- leftpanel -->

        <div class="mainpanel">
            <div class="pageheader"><div class="row">
                <div class="col-md-9">
                    <div class="media">
                        <div class="pageicon pull-left">
                            <i class="fa fa-list"></i>
                        </div>
                        <div class="media-body">
                            <ul class="breadcrumb">
                                <li><a th:href="@{/docTypes}">List all Document Types</a></li>
                                <li><a href="">Document Type </a></li>
                                <li>List </li>
                            </ul>
                            <h4>Showing Document Types</h4>
                        </div>
                    </div><!-- media -->

                </div>

                <div class="col-md-3">
                    <a th:href="@{/docTypes/add}" class="btn btn-sm btn-primary btn-rounded pull-right">Add New</a>
                </div>
            </div><!-- pageheader -->
            <div class="contentpanel">

<div class="row">


</div>

                    <div class="panel panel-primary-head">


                    <table id="basicTable" class="table table-striped table-bordered responsive">
                        <thead class="">
                        <tr>
                            <th>Name</th>
                            <th>Nice Name</th>
                            <th>Description</th>
                            <th>Created At</th>
                            <th>Modified At</th>
                            <!--<th>Created By</th>
                            <th>Modified By</th>
-->
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="v : ${docTypes}">
                            <td th:text="${v.name}"></td>
                            <td th:text="${v.niceName}"></td>
                            <td th:text="${v.description}"></td>
                            <td th:text="${v.created_at}"></td>
                            <td th:text="${v.updated_at}"></td>


                            <td >
                                <a th:href="@{/docTypes/edit/} + ${v.id}" class="btn btn-default ">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                                <a onclick="return confirm('Are you sure you want to delete ?');" th:href="@{/docTypes/delete/} + ${v.id}" class="btn btn-default" >
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>

                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div><!-- panel -->

                <br />



            </div><!-- contentpanel -->
        </div><!-- mainpanel -->
    </div><!-- mainwrapper -->
</section>

<div th:replace="fragments/admin-footer::footer"></div>

<script>
    jQuery(document).ready(function(){

        jQuery('#basicTable').DataTable({
            responsive: true
        });

        var shTable = jQuery('#shTable').DataTable({
            "fnDrawCallback": function(oSettings) {
                jQuery('#shTable_paginate ul').addClass('pagination-active-dark');
            },
            responsive: true
        });

        // Show/Hide Columns Dropdown
        jQuery('#shCol').click(function(event){
            event.stopPropagation();
        });

        jQuery('#shCol input').on('click', function() {

            // Get the column API object
            var column = shTable.column($(this).val());

            // Toggle the visibility
            if ($(this).is(':checked'))
                column.visible(true);
            else
                column.visible(false);
        });

        var exRowTable = jQuery('#exRowTable').DataTable({
            responsive: true,
            "fnDrawCallback": function(oSettings) {
                jQuery('#exRowTable_paginate ul').addClass('pagination-active-success');
            },
            "ajax": "ajax/objects.txt",
            "columns": [
                {
                    "class":          'details-control',
                    "orderable":      false,
                    "data":           null,
                    "defaultContent": ''
                },
                { "data": "name" },
                { "data": "position" },
                { "data": "office" },
                { "data": "salary" }
            ],
            "order": [[1, 'asc']]
        });

        // Add event listener for opening and closing details
        jQuery('#exRowTable tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = exRowTable.row( tr );

            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child( format(row.data()) ).show();
                tr.addClass('shown');
            }
        });


        // DataTables Length to Select2
        jQuery('div.dataTables_length select').removeClass('form-control input-sm');
        jQuery('div.dataTables_length select').css({width: '60px'});
        jQuery('div.dataTables_length select').select2({
            minimumResultsForSearch: -1
        });

    });

    function format (d) {
        // `d` is the original data object for the row
        return '<table class="table table-bordered nomargin">'+
            '<tr>'+
            '<td>Full name:</td>'+
            '<td>'+d.name+'</td>'+
            '</tr>'+
            '<tr>'+
            '<td>Extension number:</td>'+
            '<td>'+d.extn+'</td>'+
            '</tr>'+
            '<tr>'+
            '<td>Extra info:</td>'+
            '<td>And any further details here (images etc)...</td>'+
            '</tr>'+
            '</table>';
    }
</script>

</body>
</html>
