

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/admin-header :: head"></head>

<body>

<header th:replace="fragments/admin-header :: main-header" ></header>


<section>
    <div class="mainwrapper">
         <span sec:authorize="hasAuthority('CONSULTANT')">
            <div  th:replace="fragments/consultant-leftpanel :: leftpanel-admin"  ></div>

        </span>

        <span sec:authorize="hasAuthority('NGO')">
            <div  th:replace="fragments/ngo-leftpanel :: leftpanel-admin"  ></div>

        </span>

        <span sec:authorize="hasAuthority('SUPPLIER')">
            <div  th:replace="fragments/supplier-leftpanel :: leftpanel-admin"  ></div>

        </span>
        <span sec:authorize="hasAnyAuthority('ADMIN_ACCOUNT','STAFF','UNSTAFF')">
            <div  th:replace="fragments/admin-leftpanel :: leftpanel-admin"  ></div>

        </span>


        <!-- leftpanel -->
        <!-- leftpanel -->

        <div class="mainpanel">
            <div class="pageheader">
                <div class="media">
                    <div class="pageicon pull-left">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="media-body">
                        <ul class="breadcrumb">
                            <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                            <li><a href="">Accounts</a></li>
                            <li>Activity</li>
                        </ul>
                        <h4> Login Audit  </h4>
                    </div>
                </div><!-- media -->
            </div><!-- pageheader -->

            <div class="contentpanel">

                <span th:text="${#httpServletRequest.getParameter('q') == null} ? 'Page ' + ${logins.number + 1} + ' of ' + ${logins.totalPages} + ' |': null"></span>
                <span th:text="  ${#httpServletRequest.getParameter('q') == null} ? ' ' + ${logins.size} + ' user(s) per page': null"></span>


                <div class="row">
                <div>
                        <table class="table-responsive table table-striped table-hover" >
                            <tr>
                                <th>Username</th>
                                <th colspan="2">Name</th>
                                <th>Email</th>
                                <th>Login Time</th>
                                <th>Logout Time</th>

                                <th>IP Address </th>


                            </tr>

                            <tr th:each="l : ${logins}">
                                <td th:text="${l.user.username}" ></td>
                                <td colspan="2" th:text="${l.user.lastname + ' ' + l.user.firstname}"></td>
                                <td th:text="${l.user.email}"></td>
                                <td th:text="${l.loginTime != null} ? ${#temporals.format(l.loginTime.atZone(zoneId), 'dd-MMM-yyyy HH:mm')}  : '-' ">
                                </td>

                                <td th:text="${l.LogoutTime != null} ? ${#temporals.format(l.LogoutTime.atZone(zoneId), 'dd-MMM-yyyy HH:mm')}  : '-' ">
                                </td>



                                <td th:text="${l.ip}"></td>




                            </tr>

                        </table>


                    <div class="text-center">
                        <ul class="pagination">
                            <li th:if="${prev}"><a th:href="@{${#httpServletRequest.requestURI}(size=${prev.pageSize}, page=${prev.pageNumber})}">Previous</a></li>
                            <li th:if="${next}"><a th:href="@{${#httpServletRequest.requestURI}(size=${next.pageSize}, page=${next.pageNumber})}">Next</a></li>

                        </ul>

                    </div>

                </div>

                </div><!-- tab-content -->

                </div><!-- col-sm-9 -->
            </div><!-- row -->

        </div><!-- contentpanel -->

    </div>
    </div><!-- mainwrapper -->
</section>


<div th:replace="fragments/admin-footer::footer"></div>

<script>
    jQuery(document).ready(function(){

        jQuery('#basicTable').DataTable({
            responsive: true
        });

        var shTable = jQuery('#shTable').DataTable({
            "fnDrawCallback": function(oSettings) {
                jQuery('#shTable_paginate ul').addClass('pagination-active-dark');
            },
            responsive: true
        });

        // Show/Hide Columns Dropdown
        jQuery('#shCol').click(function(event){
            event.stopPropagation();
        });

        jQuery('#shCol input').on('click', function() {

            // Get the column API object
            var column = shTable.column($(this).val());

            // Toggle the visibility
            if ($(this).is(':checked'))
                column.visible(true);
            else
                column.visible(false);
        });

        var exRowTable = jQuery('#exRowTable').DataTable({
            responsive: true,
            "fnDrawCallback": function(oSettings) {
                jQuery('#exRowTable_paginate ul').addClass('pagination-active-success');
            },
            "ajax": "ajax/objects.txt",
            "columns": [
                {
                    "class":          'details-control',
                    "orderable":      false,
                    "data":           null,
                    "defaultContent": ''
                },
                { "data": "name" },
                { "data": "position" },
                { "data": "office" },
                { "data": "salary" }
            ],
            "order": [[1, 'asc']]
        });

        // Add event listener for opening and closing details
        jQuery('#exRowTable tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = exRowTable.row( tr );

            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child( format(row.data()) ).show();
                tr.addClass('shown');
            }
        });


        // DataTables Length to Select2
        jQuery('div.dataTables_length select').removeClass('form-control input-sm');
        jQuery('div.dataTables_length select').css({width: '60px'});
        jQuery('div.dataTables_length select').select2({
            minimumResultsForSearch: -1
        });

    });

    function format (d) {
        // `d` is the original data object for the row
        return '<table class="table table-bordered nomargin">'+
            '<tr>'+
            '<td>Full name:</td>'+
            '<td>'+d.name+'</td>'+
            '</tr>'+
            '<tr>'+
            '<td>Extension number:</td>'+
            '<td>'+d.extn+'</td>'+
            '</tr>'+
            '<tr>'+
            '<td>Extra info:</td>'+
            '<td>And any further details here (images etc)...</td>'+
            '</tr>'+
            '</table>';
    }
</script>

</body>
</html>
